<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
    <nav th:replace="~{fragments/site :: site-head}"></nav>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

</head>
<body>
<div th:replace="~{fragments/site :: site-nav}"></div>
<main class="mt-5 content container">
    <section>
        <!-- Formulario para crear un nuevo ticket -->
        <div class="card">
            <!-- Mostrar mensaje de error de excepción si existe -->
            <div th:if="${errorMessage}">
                <p th:text="${errorMessage}"></p>
            </div>

            <!-- Resto de tu formulario -->

            <div class="card-body">
            <h2>Crear un nuevo Ticket</h2>
            <form th:action="@{/tickets}" th:object="${ticket}" method="post">
                <div>
                    <label for="description">Descripción:</label>
                    <input type="text" id="description" th:field="*{description}" required/>
                </div>
                <!-- Sección para detalles del Cliente -->
                <h3>Detalles del Cliente</h3>
                <div>
                    <label for="customer.firstName">Nombre del Cliente:</label>
                    <input type="text" id="customer.firstName" th:field="*{customer.firstName}" required />
                </div>
                <div>
                    <label for="customer.phone">Teléfono del Cliente:</label>
                    <input type="text" id="customer.phone" th:field="*{customer.phone}" required />
                </div>

                <!-- Sección para detalles del Dispositivo -->
                                <h3>Detalles del Dispositivo</h3>
                                <div>
                                    <label for="deviceType">Tipo de Dispositivo:</label>
                                    <input type="text" id="deviceType" th:field="*{device.deviceType}" value="MONITOR" required />
                                </div>
                                <div>
                                    <label for="brand">Marca:</label>
                                    <input type="text" id="brand" th:field="*{device.brand}" value="AOC" required />
                                </div>
                <!-- Aquí irían los demás campos del formulario -->

                <div>
                    <button class="btn-primary" type="submit">Crear Ticket</button>
                </div>
            </form>
            </div>
        </div>
        </section>

            <section>
        <!-- Datatable para mostrar los tickets existentes -->
        <div>
            <h2>Listado de Tickets</h2>
            <div class="table-responsive">
                <table class="table table-sm table-striped table-hover" id="myTable">
                    <caption>New York City Marathon Results 2013</caption>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha de Creación</th>
                        <th>Status</th>
                        <th>Cliente</th>
                        <th>Técnico</th>
                        <th>Dispositivo</th>
                        <th>Descripción</th>
                        <!-- Más cabeceras si es necesario -->
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ticket : ${tickets}">
                        <td th:text="${ticket.id}"></td>
                        <td th:text="${ticket.creationDate}"></td>
                        <td th:text="${ticket.status.name}"></td>
                        <td th:text="${ticket.customer.firstName}"></td>
                        <td th:text="${ticket.technician?.firstName}"></td>
                        <td th:text="${ticket.device?.description}"></td>
                        <td th:text="${ticket.description}"></td>
                        <!-- Más columnas si es necesario -->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</main>
<footer th:replace="~{fragments/site :: site-footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossOrigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script src="/js/ticketForm.js"></script>

</body>
</html>